.top > img {
  width:5%;
  border-radius:100%;
}

#time{
  padding: 8px;
  background-color: black;
  border-radius: 20px;
  display: inline-block;
}

.coming-soon{
  font-family: 'Mulish', sans-serif;
  font-size:5.5rem;
  font-weight: 800;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #f1c40f;
  border-radius: 50%;
  display: inline-block;
}

.bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  /* background-color: #222222; */
  color: black;
  padding: 16px;
}

@media screen and (max-width: 600px) {

  .top > img {
    width:20%;
    border-radius:100%;
  }
  .top  {
  text-align: center;
  }

  .coming-soon{
    font-size:3rem;
  }

}
